doctype transitional
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap' rel='stylesheet')
  style(type='text/css').
    * {
    margin: 0;
    padding: 0;
    border: none;
    }
    body {
    font-family: "Open Sans", sans-serif;
    }
    ol li {
      margin-left:"3rem "
    }
    p {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    line-height: 26px;
    margin-bottom: 20px;
    }
    .container {
    width: 92%;
    margin: 20px auto;
    -webkit-box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.73);
    box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.73);
    /* padding: 1px 1px 20px 1px; */
    border-radius: 10px;
    }
    .container-btn a {
    background-color: #3a8f34;
    color: #fff;
    padding: 16px 24px;
    font-weight: 600;
    font-size: 13px;
    border-radius: 7px;
    text-decoration: none;
    transition: all 0.4s ease;
    }
    .container-btn a:hover {
    background-color: #2e6e29;
    cursor: pointer;
    }
    .container-btn {
    margin-top: 30px;
    margin-bottom: 40px;
    }
    @media only screen and (max-width: 800px) {
    h2 {
    font-size: 28px !important;
    line-height: 1.1 !important;
    }
    }
    @media only screen and (max-width: 800px) {
    .zoom-info .or-id {
    width: 100% !important;
    }
    }
    @media only screen and (max-width: 650px) {
    .new-features .single-logo-wrap {
    width: 100% !important;
    height: auto !important;
    }
    }
    @media only screen and (max-width: 650px) {
    .new-features .single-logo-wrap .single-logo {
    margin: 0 auto;
    }
    }
    @media only screen and (max-width: 550px) {
    h2 {
    font-size: 28px !important;
    line-height: 1.1 !important;
    }
    }
    @media only screen and (max-width: 550px) {
    .zoom-info > div {
    width: 100% !important;
    }
    }
table(style='\
max-width: 800px;\
width: 100%;\
background-color: #ffffff;\
border: 1px solid #d4d4d4;\
margin: 0 auto;\
' cellspacing='0' cellpadding='0' border='0')
  tr
    td
      // Header Section Start 0F082B
      table(width='100%' cellspacing='0' cellpadding='0' border='0')
        tr(style='text-align: center')
          td
            a(href='' style='display: block')
              //- img(src='https://i.postimg.cc/Vk55STC0/logo.png'  style='width:200px; margin-top:30px;' alt='')
      // Header Section End
      // Content Section
      table.body_content(style='padding: 10px 30px 30px 30px; background: #ffffff' width='100%' cellspacing='0' cellpadding='0' border='0')
        tr
          td
            .container
              div(style='padding: 20px 20px 20px 20px;')


                block content
                
                p
                  | Best regards,
                  br
                  |                     The BDB Team
      // Content Section End
      // Footer Section Start0F082B
      table(style='padding: 0 0 0 0' width='100%' cellspacing='0' cellpadding='0' border='0')
        tr
          td(style='\
          text-align: center;\
          padding: 0px 30px 0px 30px;\
          background-color: #ffffff;\
          ')
            
            

